@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Tajawal:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;   
}

body {
    background-color: hsl(0, 0%, 81%);
    background-image: url(./images/pexels-johannes-plenio-1103970.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    max-width: 100%;
    margin: 8rem 8rem;
    background-color: rgba (255, 255, 255 0.2);
    color: aliceblue;
    display: grid;
    grid-template-areas: "a a c d"
                         "e f f d";
    grid-gap: 3rem;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
 

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 11px;
    opacity: 0.7;
}

.text {
    margin-right: 9px;
}

.parag01 {
   padding-top: 9px;
}

.parag02{
    font-size: 9px;
    opacity: 0.5;
}

h1 {
    margin: 30px auto;
}

.img-d {
    width: 100%;
}

.daniel {
    background: hsl(263, 55%, 52%);
    grid-template-rows: minmax(50px auto);
    grid-area: a;
    padding: 3rem 4.5rem;
    border-radius: 10px;  
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
}

.daniel .text {
    background-color: aliceblue;
    grid-area: a;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.jonathan {
    background: hsl(217, 19%, 35%);
    grid-template-rows: minmax(50px auto);
    grid-area: c;
    padding: 3rem 4.5rem;
    border-radius: 10px;
    padding: 3rem;
    border-radius: 10px;
}

.jonathan .text {
    background-color: aliceblue;
    grid-area: c;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.janette {
    background:  hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
    grid-template-rows: minmax(50px auto);
    grid-area: e;
    padding: 3rem;
    border-radius: 10px;
}

.janette .text {
    background-color: aliceblue;
    grid-area: e;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.container .patrick {
    background: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
    grid-template-rows: minmax(50px auto);
    grid-area: f;
    padding: 3rem;
    border-radius: 10px;
}

.patrick .text {
    background-color: aliceblue;
    grid-area: f;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
   
}

.kira {
    background:  hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-template-rows: minmax(50px auto);
    grid-area: d;
    padding: 3rem 4.5rem;
    border-radius: 10px;
    padding: 3rem;
    border-radius: 10px;
    

}

.kira .text {
    background-color: aliceblue;
    grid-area: d;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    float: left;
} 

@media (max-width: 920px) {

    .container {
    grid-template-areas: "a a c"
    "e f f" "d d d";

    }
    
}
    
